$greyblue-color: #8ca6b3;
$lightblue-color: #e6f5ff;
$beige-color: #e2ceb6;
$brown-color: #563530;
$black-color: #21161a;

%common-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $lightblue-color;
    color: $black-color;
    padding: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 20px 70px 20px;
    background-color: $lightblue-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.4rem;
    color: $brown-color;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
}

.image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: $black-color;
    margin-bottom: 20px;
    text-align: center;
}

.sectionTitle {
    width: 100%;
    font-size: 1.8rem;
    padding-bottom: 10px;
    color: $brown-color;
    text-align: left;
    margin-top: 20px;
}

.ingredientsList {
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0;
}

.ingredientItem {
    font-size: 1.2rem;
    color: $black-color;
    margin-bottom: 5px;
}

.instructions {
    font-size: 1.2rem;
    line-height: 1.6;
    color: $black-color;
    margin-top: 10px;
    text-align: left;
}

@media (max-width: 1400px) {
    .title {
        background-color: rgba(226, 206, 182, 0.7);
    }
}

@media (max-width: 850px) {
    .container {
        padding: 15px;
    }

    .title {
        font-size: 2rem;
    }

    .image {
        max-height: 300px;
    }

    .description {
        font-size: 1rem;
    }

    .sectionTitle {
        font-size: 1.6rem;
    }

    .ingredientItem,
    .instructions {
        font-size: 1rem;
    }
}

@media (max-width: 585px) {
    .container {
        padding: 10px;
    }

    .title {
        position: relative;
        font-size: 1.8rem;
        margin-top: 25px;
        padding: 8px 15px;
        background-color: transparent;
    }

    .image {
        max-height: 250px; // Adjust image height
        margin-bottom: 15px; // Adjust bottom margin to create space for title
    }

    .description {
        font-size: 1rem;
    }

    .sectionTitle {
        font-size: 1.5rem;
    }

    .ingredientItem,
    .instructions {
        font-size: 1rem;
    }
}