$greyblue-color: #8CA6B3;
$lightblue-color: #D8E5ED;
$beige-color: #E2CEB6;
$brown-color: #563530;
$black-color: #21161A;

.recipe{
    position: relative;
    background-color: $greyblue-color;
    padding: 15px 12px 25px 12px;
    width: 230px;
    height: 230px;

    &__image{
        width:100%;
        height:auto;
    }

    &__name{
        color:$black-color;
    }

    &__category{
        color:$black-color
    }
}

.text{
    position: absolute;
    bottom:0px;
}


