@use "../../styles/colors";

.navegation {
  width: 250px;
  height: 100vh;
  position: fixed; 
  background-color: colors.$greyblue-color;
  padding-top: 15px;
  z-index: 10; 
}

.hamburguer {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  .links {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 15pt;
    color: colors.$lightblue-color;
    padding: 15px;
    gap: 15px;
  }

  .logo {
    width: 100%;
    height: auto;
  }
}

.link {
  display: flex;
  align-items: center;
  padding-top: 15px;
  gap: 10px;
}

@media (max-width: 850px) {
  .navegation {
    &__open {
      width: 250px;
      transition: width 0.3s ease-in-out;
    }
    &__closed {
      width: 70px;
      transition: width 0.3s ease-in-out;
    }
  }

  .menu {
    z-index: 2;

    &__open {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: all 0.3s ease-in-out;
    }

    &__closed {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  .hamburguer {
    all: unset;
    display: block;
    padding-left: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 3;
  }

  .p {
    &__open {
      display: block;
    }
    &__closed {
      display: none;
    }
  }

  .logo {
    &__open {
      display: none;
    }
    &__closed {
      display: none;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 5px 10px;
  }

  .menu__closed .link {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: auto;
    padding: 0;
  }
}
