@use 'styles/colors';

.nav {
  width: 250px;
  height: 100vh;
  background-color: colors.$brown-color;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;

  .links{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 15pt;
    color: colors.$lightblue-color;
    padding: 15px;
    gap: 15px;
  }

  .logo {
    width: 80%;
    height: auto;
  }
}

.link {
  display: flex;
  align-items: center;
  padding-top: 15px;
  gap: 10px;
}

.separator {
  border-top: 1px solid colors.$lightblue-color;
}

.content {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}