@use "styles/colors";

%common-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: colors.$lightblue-color;
    color: colors.$black-color;
    padding: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.sectionTitle {
    width: 100%;
    font-size: 2.2rem;
    padding-bottom: 20px;
    color: colors.$brown-color;
    text-align: left;
}

.highlightItem {
    @extend %common-layout;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;

    .highlightContent {
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }

    .highlightItemTitle {
        font-size: 1.5rem;
        margin: 0;
        text-align: left;
    }

    .highlightItemDescription {
        font-size: 1rem;
        margin: 0;
        text-align: left;
    }

    button {
        font-size: 1rem;
        padding: 10px 20px;
        background-color: colors.$brown-color;
        color: colors.$beige-color;
        position: relative;
        top: 30px;
    }

    img {
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
    }
}

.quickRecipes,
.myRecipes {
    @extend %common-layout;

    .quickRecipesItem,
    .myRecipesItem {
        gap: 30px 14%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .recipe img {
            width: 100%;
            border-radius: 8px;
        }
    }
}

@media (max-width: 850px) {
    %common-layout {
        width: 100%;
    }

    .quickRecipesItem,
    .myRecipesItem {
        flex-direction: column;
    }
}

@media (max-width: 585px) {
    .highlightItem {
        flex-direction: column;
        padding: 20px;

        img {
            order: -1;
            margin-bottom: 15px;
        }

        .highlightContent {
            text-align: center;
            width: 100%;
        }

        .highlightItemTitle {
            font-size: 1.8rem;
            padding-bottom: 10px;
        }

        .highlightItemDescription {
            font-size: 0.9rem;
            padding-bottom: 15px;
        }
    }
}
