@use 'styles/colors';

%common-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: colors.$lightblue-color;
    color: colors.$black-color;
    padding: 30px;
    margin-bottom: 20px;
    gap: 20px;
    width: 1220px;
}


.sectionTitle{
    width:100%;
    font-size: 2.2rem;
}

.highlightItem {
    background-color: colors.$greyblue-color;
    padding: 30px;
    color: colors.$black-color;
    margin-bottom: 20px;
    width: 1220px;

        background-color: colors.$lightblue-color;
        overflow: hidden;

        img {
            width: 5vw;
            height: auto;
        }

        .highlightItemTitle {
            font-size: 1.25rem;
            margin: 1rem 0;
            text-align: center;
        }

        .highlightItemDescription {
            font-size: 1rem;
            margin-bottom: 1.5rem;
            text-align: center;
        }
    }


.quickRecipes {
    @extend %common-layout;

    .quickRecipesItem {
        gap: 30px 80px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.myRecipes {
    @extend %common-layout;

    .myRecipesItem {
        gap: 30px 80px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .recipe {
            width: 100%;
            border-radius: 8px;

            img {
                width: 100%;
                border-radius: 8px;
            }
        }
    }
}
